.container-form{
    width: 80vh;
    margin-top: 10px;
    padding-top: 15px;
    min-height: 52vh;
    color: #ffffff;
    background-color:  #6f6fcf;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
}
.description{
    display: flex;
    justify-content: space-between;
}
.form-control{
    border-radius: 15px;
    background-color: transparent;
    border-width: 2px;
    color: #ffffff;
}
.mb-3 input::placeholder{
    color: #ffffff;
    font-size: 16px;
}
.btn-form{
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    border-radius: 35px;
    width: 100px;
}
label{
    font-weight: 500;
}
.dark .container{
    background-color:#1D267D;
    color: #ffffff;
}
.dark h2{
    color: #ffffff;
}
.dark .form-label{
    color: #ffffff;
}
@media(max-width:600px){
    .container-form{
        width: 61vh;
        font-size: 15px;
    }
    .description input{
        width: 200px;
    }
    .mb-3 input::placeholder{
        font-size: 14px;
    }
}