*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  background: #ced8ff;
  transition: .5sec;
}
.goto{
  background: #ced8ff;
}
.container.dark {
  background: #222;
}
.dark .goto{
  background-color: #222;
}